 <section class="table_header">
     <h1>Bird Sighting</h1>
     <button id="myButton" onclick="location.href='/addPage'">Add</button>
     <div class="input-group">
         <input type="search" placeholder="Search Data...">
         <img src="/images/search.png" alt="">
     </div>
 </section>