<thead>
<tr>
    <th> ID <span class="icon-arrow">&UpArrow;</span></th>
    <th> Date/Time <span class="icon-arrow">&UpArrow;</span></th>
    <th> Location <span class="icon-arrow">&UpArrow;</span></th>
    <th> Identification <span class="icon-arrow">&UpArrow;</span></th>
    <th> User <span class="icon-arrow">&UpArrow;</span></th>
    <th> Detail </th>
</tr>
</thead>