<!DOCTYPE html>
<html>
<head>
    <title>addPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/addPage.css' />
</head>
<body>
    <section class="container">
        <header>Add an Event</header>
        <form action="" class="form">
            <div class="input-box">
                <label>Nickname</label>
                <input type="text" placeholder="Enter your nickname" required>
            </div>

            <div class="input-box">
                <label>Description</label>
                <textarea class="description" placeholder="Description" rows="4" cols="50" required></textarea>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Date</label>
                    <input type="text" placeholder="YYYY-MM-DD">
                </div>

                <div class="input-box">
                    <label>Time</label>
                    <input type="text" placeholder="hh:mm">
                </div>
            </div>
        </form>
    </section>
</body>