<!DOCTYPE html>
<html>
<head>
    <title>addPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/addPage.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/indexDB.js"></script>
</head>
<body>
    <div class="container" id="addPage" style="display: block">
        <a href="/" class="rtn"><img src="/images/return.png"> Return</a>
        <header>Add a Bird</header>
        <form method="post" action="/create" class="form" enctype="multipart/form-data" onsubmit="submitForm(event)">
            <div>
                <label for="myImage">Choose an image</label>
                <input type="file" id="myImage" name="myImg" accept="image/*" required>
            </div>

            <div class="input-box">
                <label>Nickname</label>
                <input name="user" id="user" type="text" placeholder="Enter your nickname" required>
            </div>

            <div class="input-box">
                <label>Description</label>
                <textarea name="identification" id="identification" class="description" placeholder="Description" rows="4" cols="50" required></textarea>
            </div>

            <div class="column">
                <div class="input-box">
                    <label for="date">Date</label>
                    <input name="date" id="date" type="date" required>
                </div>

                <div class="input-box">
                    <label for="time">Time</label>
                    <input name="time" id="time" type="time" required>
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Location</label>
                    <input class="location" name="location" id="location" type="text" placeholder="Click the icon to get your current location" required>
                    <img class="location-icon" src="/images/location.png" onclick="getLocation()">
                </div>
            </div>


            <div class="column">
                <div class="input-box">
                    <p><input type="submit" name="g" value="Submit" id="g"></p>
                </div>
            </div>
        </form>
    </div>

    <div id="password" class="container" style="display:none;">
        <div class="pwd_content">
            <p><b>Improtant!</b><br>Your password: <b id="pwdPosition" style="color: red">12341234</b></p>
        </div>
        <div class="btn_area">
            <button id="btn_pwd" onclick="location.href='/'">Exit</button>
        </div>
    </div>

    <script>
        var x=document.getElementById("location");
        let searchIcon = document.querySelector('.location-icon');
        let searchInput = document.querySelector('.location');

        searchIcon.addEventListener('click', () => {
            searchInput.value = 'Locating...';
        });

        var x=document.getElementById("location");
        function getLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else
            {
                x.innerHTML="This browser does not support the acquisition of geographic locations.";
            }
        }

        function showPosition(position)
        {
            x.value="Latitude: " + position.coords.latitude +
                ", Longitude: " + position.coords.longitude;
        }
    </script>
    <script>
        function switchContent(contentId) {
            const contentPanes = document.getElementsByClassName("container");
            for (let i = 0; i < contentPanes.length; i++) {
                contentPanes[i].style.display = "none";
            }

            document.getElementById(contentId).style.display = "block";

        }
    </script>
    <script>
        function submitForm(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            // 验证表单是否填写完整
            const userField = document.getElementById('user');
            const identificationField = document.getElementById('identification');
            const locationField = document.getElementById('location');
            if (!userField.checkValidity() || !identificationField.checkValidity() || !locationField.checkValidity()) {
                alert('All detail required!');
                return;
            }

            // 异步请求将表单数据发送到服务器
            $.ajax({
                url: '/create',
                type: 'post',
                data: new FormData($('form')[0]),
                processData: false,
                contentType: false,
                success: function(response) {
                    // 在表格中显示感谢提交表单的信息
                    console.log('response' + response);
                    var password = response.Password;
                    document.getElementById('pwdPosition').innerHTML=password;
                    switchContent('password');
                    // indexDB 调用示例
                    var inputData = {"date":this.data.get("date")+" "+this.data.get("time"),"identification":this.data.get("identification"),
                        "location":this.data.get("location"), "user":this.data.get("user"),"description":this.data.get("description"),
                        "img":this.data.get("myImg"),"password":response.password}
                    addData("sighting",inputData)
                }
            });


            // var form = document.getElementById("addForm");
            // form.method = "post";
            // form.action = "/create";
            //
            // form.submit();
            // switchContent('password');
        }
    </script>

</body>

