<!DOCTYPE html>
<html>
<head>
    <title>addPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/addPage.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./public/javascripts/add.js"></script>
</head>
<body>
    <section class="container">
        <header>Add a Bird</header>
        <form method="post" action="/create" class="form" enctype="multipart/form-data">
            <div>
                <label for="myImage">Choose an image</label>
                <input type="file" id="myImage" name="myImg" accept="image/*" required>
            </div>

            <div class="input-box">
                <label>Nickname</label>
                <input name="user" id="user" type="text" placeholder="Enter your nickname" required>
            </div>

            <div class="input-box">
                <label>Description</label>
                <textarea name="identification" id="identification" class="description" placeholder="Description" rows="4" cols="50" required></textarea>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Date</label>
                    <input name="date" id="date" type="text" placeholder="YYYY-MM-DD">
                </div>

                <div class="input-box">
                    <label>Time</label>
                    <input name="time" id="time" type="text" placeholder="hh:mm">
                </div>
            </div>

<!--            <div class="column">-->
<!--                <div class="input-box">-->
<!--                    <label>Image</label>-->
<!--                    <input type="file" name="image" id="image" accept="image/*">-->
<!--                </div>-->
<!--            </div>-->


            <div class="column">
                <div class="input-box">
                    <label>Location</label>
                    <input class="location" name="location" id="location" type="text" placeholder="Click the icon to get your current location">
                    <img class="location-icon" src="/images/location.png" onclick="getLocation()">
                </div>
            </div>


            <div class="column">
                <div class="input-box">
                    <p><input type="submit" name="g" value="Submit" id="g"></p>
                </div>
            </div>
        </form>
    </section>

    <script>
        var x=document.getElementById("location");
        let searchIcon = document.querySelector('.location-icon');
        let searchInput = document.querySelector('.location');

        searchIcon.addEventListener('click', () => {
            searchInput.value = 'Locating...';
        });

        var x=document.getElementById("location");
        function getLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else
            {
                x.innerHTML="This browser does not support the acquisition of geographic locations.";
            }
        }

        function showPosition(position)
        {
            x.value="Latitude: " + position.coords.latitude +
                ", Longitude: " + position.coords.longitude;
        }
    </script>
</body>

