<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/listPage.css' />
</head>
<body>
    <main class="table">
        <section class="table_header">
            <h1>Bird Sighting</h1>
            <button id="myButton"><a href="/addPage">Add</a></button>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="/images/search.png" alt="">
            </div>
        </section>
        <section class="table_body">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date/Time</th>
                    <th>Location</th>
                    <th>Identification</th>
                    <th>User</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Eugene</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Jie Hu</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Bryan</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>23th, April</td>
                    <td>Sheffield</td>
                    <td>Crow</td>
                    <td>Xingming</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Eugene</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Jie Hu</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Eugene</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Chengsong</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Chengsong</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Wanyou</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Chengsong</td>
                </tr>

                <tr>
                    <td>12</td>
                    <td>18th, April</td>
                    <td>Sheffield</td>
                    <td>Sparrow</td>
                    <td>Boyuan</td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="/javascripts/script.js"></script>
</body>
</html>