<!DOCTYPE html>
<html>
<head>
    <title>reviewPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/reviewPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/jump.js"></script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD67e55wmYhnHd9bA02_Xt1D0ibG6BKmv4&callback=initMap">
    </script>

</head>
<body>
<div id="container">
    <div class="head">
        <div class="titles">
            <h1 style="color: #333333">Bird Sighting</h1>
            <h2 style="color: #333333">Crow</h2>
        </div>
        <div class="date-time" style="color: #333333">
            Date/Time: 17:22 23th, April, 2023
        </div>
    </div>

    <div class="image">

    </div>

    <div class="location">
        <h1 style="color: #333333">location</h1>
        <div id="map"></div>
    </div>

    <div class="chat">
        <div class="messages-container">
            <h1 id="Welcome" style="color: #333333"></h1>
            <p id="status" style="color: #333333"></p>
            <ul id="messages" style="color: #333333"></ul>
        </div>
        <div class="history" class="boxed"></div>
        <form id="form" action="">
            <input id="input" autocomplete="off" />
            <button>Send</button>
        </form>
    </div>

    <div class="description">
        <h1 style="color: #333333">description</h1>
        <p>This crow, photographed on the hill next to Sheffield, is standing on a rock, black in colour, with a long beak, and by observation may be of some age.</p>
    </div>
</div>

<script>

    setupSocketIO();

    function setupSocketIO() {
        let name = localStorage.getItem('username');
        let isUploader = localStorage.getItem('isUploader') === 'true';

        var socket = io();
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', { name: name, message: input.value });
                input.value = '';
            }
        });

        socket.on('welcome',function(data){
            document.getElementById('Welcome').innerHTML = data.description;

        });

        socket.on('chat message', function(data) {
            var item = document.createElement('li');
            // Change to logic based on the username of the message sender
            item.textContent = (data.name === name ? 'Me' : data.name) + ': ' + data.message;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });

        socket.on('broadcast',function(data){
            document.getElementById('status').innerHTML = data.description;
        });
    }
</script>

<script>
    function initMap() {
        let myLatLng = {lat: 53.3744545, lng: -1.4858933};

        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: myLatLng
        });

        let marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'My Location'
        });
    }
    google.maps.event.addDomListener(window, 'load', initMap);

</script>

</body>
</html>